@model MyPortfolio_MVC.Models.About
@{
    ViewBag.Title = "CreateAbout";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>Yeni Hakkımda Ekleme Sayfası</h2>

<form method="post" enctype="multipart/form-data">
    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    <label>Hakkımda Fotoğrafı Yükleyin</label>
    <br />
    <input type="file" name="AboutImage" />
    <br /> <br />
    <label>CV Yükleyin</label>
    <br />
    <input type="file" name="CvFile" />
    <br /> <br />
    <button class="btn btn-outline-primary">Kaydet</button>
    <br />
</form>

