@model MyPortfolio_MVC.Models.Message

<section id="contact" class="s-contact target-section">

    <div class="row contact-top">
        <div class="column lg-12">
            <h2 class="text-pretitle with-line">
                İLETİŞİME GEÇ
            </h2>

            <p class="h1">
                Görüşlerinizi duymaktan memnun olurum.
                Soru sormak, uzmanlık alanlarımla ilgili konuşmak veya iş teklifinde bulunmak için benimle iletişime geçebilirsiniz.
            </p>
        </div>
    </div> <!-- end contact-top -->



    <div class="row contact-bottom">
        <div class="column lg-3 md-5 tab-6 stack-on-550 contact-block">
            <h3 class="text-pretitle with-line">İLETİŞİM ADRESLERİM</h3>
            <p class="contact-links">
                <a href="mailto:mfurkankahraman@gmail.com" class="mailtoui">mfurkankahraman@gmail.com</a> <br>
                <a href="tel:+905445647181">905445647181</a>
            </p>
        </div>
        <div class="column lg-4 md-5 tab-6 stack-on-550 contact-block">
            <h3 class="text-pretitle with-line">Sosyal Medya</h3>
            <ul class="contact-social">
                <li><a href="https://www.linkedin.com/in/mfkahraman">Linkedin</a></li>
                <li><a href="https://www.instagram.com/mfkahraman">Instagram</a></li>
                <li><a href="https://github.com/mfkahraman">Github</a></li>
            </ul>
        </div>
        <div class="column lg-4 md-12 contact-block">
            <a href="#contact2" class="btn btn-primary">
                Bana Ulaşın
            </a>

        </div>
    </div>

</section>



<section id="contact2" class="s-contact target-section">

    <div class="row contact-top">
        <div class="column lg-12 md-6 tab-6 stack-on-550 contact-block">
            <h2 class="text-pretitle with-line">
                MESAJ GÖNDERİN
            </h2>
            <form class="column lg-12" method="post" action="/Default/SendMessage/">
                <label>Ad Soyad</label>
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                <br />
                <label>Email</label>
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                <br />
                <label>Konu</label>
                @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
                <br />
                <label>Mesajınız</label>
                @Html.TextAreaFor(x => x.Name, new { @class = "form-control" })
                <br />
                <button class="btn btn-outline-dark">Mesajı Gönder</button>


            </form>
        </div>
    </div> <!-- end contact-top -->

</section>

