@model MyPortfolio_MVC.Models.Message
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Mesaj İçeriği</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
            </div>
            <div class="modal-body">
                @if (Model == null)
                {
                    <div class="alert alert-warning">Mesaj Boş</div>
                }
                else
                {
                    <h4>Gönderen Ad Soyad: @Model.Name</h4>
                    <br />
                    <h4>Gönderen Email: @Model.Email</h4>
                    <br />
                    <h4>Mesaj içeriği:</h4>
                    <p>@Model.MessageContent</p>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <a href="/Message/MakeMessageRead/@Model.Id?" class="btn btn-success">Okundu</a>
            </div>
        </div>
    </div>
</div>
