@model MyPortfolio_MVC.Models.Category

@{
    Layout = "~/Views/AdminLayout/Layout.cshtml";
    ViewBag.Title = "Kategori Güncelle";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("UpdateCategory", "Category", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <button type="submit" class="btn btn-primary">Güncelle</button>
}
