@model MyPortfolio_MVC.Models.Contact

@{
    ViewBag.Title = "Yeni İletişim Bilgisi";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h2>Yeni İletişim Bilgisi Ekle</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<form method="post">
    <label>Telefon</label>
    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
    <br />

    <label>Email</label>
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    <br />

    <button class="btn btn-outline-primary">Kaydet</button>
</form>
